<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ndalmia</title>
  </head>
  <body>
    <div class="row heading">
      <div class="col-md-4">
        <a href="/" > <img class="head_icon" src="/static/images/ndalmia_student_icon.JPG" /> </a>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="name"> {{name}} </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="emailocation"> {{email}} </div>
          </div>
          <div class="col-md-4">
            <div class="emailocation"> {{location}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row subheading"> About Me </div>
    <div class="textaboutme"> {{aboutme}} </div>

    <div class="row subheading"> Education History </div>
    {% for epost in eposts %}
    <div class="edupost">
        <div class="row">
          <div class="col-md-4">
            <img class="icon" src="{{epost.image_url}}" alt="inst_img" />
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="institution"> {{epost.institution}} </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="major">Major: {{epost.major}} </div>
              </div>
              <div class="col-md-4">
                <div class="time"> {{epost.start_time}} - {{epost.end_time}} </div>
              </div>
            </div>
          </div>
        </div>
        {% if admin_logged_in %}
        <form action="/e/delete/" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-10"> </div>
            <div class="col-md-2">
              <div class="btn btn-primary">
                Delete<input type="submit" name="delete" value="{{epost.epostid}}"/>
              </div>
            </div>
          </div>
        </form>
        {% endif %}
    </div>
    {% endfor %}

    {% if admin_logged_in %}
    <div class="row">
      <div class="col-md-10"> </div>
      <div class="col-md-2">
        <a href="/e/" class="btn btn-primary"> Add </a>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-4">
        <a href="/work/"> <div class="subheading"> Work Experience </div> </a>
      </div>
      <div class="col-md-4">
        <a href="/projects/"> <div class="subheading"> Programming Projects </div> </a>
      </div>
      <div class="col-md-4">
        <a href="https://drive.google.com/drive/u/0/folders/10mA9DIVhL-IrggewbHEeatc9eHmN0q40"> <div class="subheading"> Resume </div> </a>
      </div>
    </div>

    {% if admin_logged_in %}
    <div class="row">
      <div class="col-md-10"> </div>
      <div class="col-md-2">
        <form action="/logout/" method="post" enctype="multipart/form-data">
          <input type="submit" class="btn btn-primary" name="logout" value="Admin Logout">
        </form>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-md-10"> </div>
      <div class="col-md-2">
        <a href="/login/"> Admin Login </a>
      </div>
    </div>
    {% endif %}
  </body>
</html>
