<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ndalmia</title>
  </head>
  <body>
    <div class="row heading">
      <div class="col-md-4">
        <a href="/" > <img class="head_icon" src="/static/images/ndalmia_casual_icon.jpg" /> </a>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="name"> {{name}} </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="emailocation"> {{email}} </div>
          </div>
          <div class="col-md-4">
            <div class="emailocation"> {{rmail}} </div>
          </div>
          <div class="col-md-4">
            <div class="emailocation"> {{location}} </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DO NOT CHANGE THIS (aside from styling) -->
    <form action="/login/" method="post" enctype="multipart/form-data">
      <div class="row admin_code">
        <label class="form-label">Admin Code</label>
        <input type="text" class="form-control" name="admin_code" placeholder="Secret Code"> <br>
      </div>
    </form>
    </div>
  </body>
</html>
