<!DOCTYPE html>
<html lang="en">
        <head>
                <link rel="stylesheet" href="/static/css/style.css">
                <title>Insta485</title>
        </head>
        <body>
                <div class="topright">
                        <a href="/accounts/login/" > <b>login</b> </a></div>
                <h1>
                        <a href="/"><img class = "logo" src="/static/images/insta485logo.png" alt="insta485_logo"/></a>
                         Insta485 </h1>
                <hr>

                <!-- DO NOT CHANGE THIS (aside from styling) -->
                <form action="/accounts/create/" method="post" enctype="multipart/form-data">
                  Photo<input type="file" name="file"> <br>
                  Fullname<input type="text" name="fullname"/> <br>
                  Username<input type="text" name="username"/> <br>
                  Email<input type="text" name="email"/> <br>
                  Password<input type="password" name="password"/> <br>
                  <input type="submit" name="signup" value="sign up"/>
                </form>
                <div> Have an account? <a href="/accounts/login/"> <b>Log In</b> </a></div>
        </body>
</html>
