<!DOCTYPE html>
<html lang="en">
        <head>
                <link rel="stylesheet" href="/static/css/style.css">
                <title>Insta485</title>
        </head>
        <body>
                <div class="topright">
                        <a href="/explore/" > <b>explore</b> </a> | <a href="/u/{{logname}}/" > <b>{{logname}}</b> </a> </div>
                <h1>
                        <a href="/"><img class = "logo" src="/static/images/insta485logo.png" alt="insta485_logo"/></a>
                         Insta485 </h1>
                <hr>
                <h2> {{logname}} <h2>
                <!-- DO NOT CHANGE THIS -->
                <form action="/accounts/delete/" method="post" enctype="multipart/form-data">
                  <input type="submit" name="delete" value="confirm delete account"/>
                </form>
        </body>
</html>
