<!DOCTYPE html>
<html lang="en">
        <head>
                <link rel="stylesheet" href="/static/css/style.css">
                <title>Insta485</title>
        </head>
        <body>
                <div class="topright">
                        <a href="/explore/" > <b>explore</b> </a> | <a href="/u/{{logname}}/" > <b>{{logname}}</b> </a> </div>
                <h1>
                        <a href="/"><img class = "logo" src="/static/images/insta485logo.png" alt="insta485_logo"/></a>
                         Insta485 </h1>
                <hr>
                <!-- DO NOT CHANGE THIS -->
                <form action="/accounts/password/" method="post" enctype="multipart/form-data">
                  Old Password<input type="password" name="password"/> <br>
                  New Password<input type="password" name="new_password1"/> <br>
                  New password, again<input type="password" name="new_password2"/> <br>
                  <input type="submit" name="update_password" value="submit"/>
                </form>
                <a href="/accounts/edit/" > <b>Back to edit account</b> </a> <br>
        </body>
</html>
