<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Insta485</title>
</head>
<body>
  <div class="topright">
    <a href="/explore/" > <b>explore</b> </a> | <a href="/u/{{logname}}/" > <b>{{logname}}</b> </a> </div>
  <h1>
    <a href="/"><img class = "logo" src="/static/images/insta485logo.png" alt="insta485_logo"/></a>
     Insta485 </h1>
  <hr>

  <p>
    <a href="/u/{{owner}}/" >
      <img class="user_pic" src={{owner_img_url}}
         alt="owner_pic"/>
      <b>{{owner}}</b></a> <a href="/p/{{postid}}/" >{{timestamp}}</a> <br> <br>
    <img class="user_upload" src={{img_url}}
         alt="owner_upload"/> <br>
    <br>{{likes}} {% if likes == 1 %}
                          like
                       {% else %}
                          likes
                       {% endif %} <br> <br>
    <div>
      {% for comment in comments %}
      <a href="/u/{{comment.owner}}/" ><b>{{comment.owner}}</b></a> {{comment.text}} <br> <br>
      {% if comment.owner == logname %}
      <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
      <form action="/p/{{postid}}/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="commentid" value="{{comment.commentid}}"/>
        <input type="submit" name="uncomment" value="delete"/>
      </form>
      {% endif %}
      {% endfor %}
    </div>
    {% if post_liked_by_logname %}
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="/p/{{postid}}/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="postid" value="{{postid}}"/>
      <input type="submit" name="unlike" value="unlike"/>
    </form>
    {% else %}
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="/p/{{postid}}/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="postid" value="{{postid}}"/>
      <input type="submit" name="like" value="like"/>
    </form>
    {% endif %}
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="/p/{{postid}}/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="postid" value="{{postid}}"/>
      <input type="text" name="text"/>
      <input type="submit" name="comment" value="comment"/>
    </form>
    {% if owner == logname %}
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="/p/{{postid}}/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="postid" value="{{postid}}"/>
      <input type="submit" name="delete" value="delete this post"/>
    </form>
    {% endif %}

  </p>

</body>
</html>
