<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Insta485</title>
</head>
<body>
  <div class="topright">
    <a href="/explore/" > <b>explore</b> </a> | <a href="/u/{{logname}}/" > <b>{{logname}}</b> </a> </div>
  <h1>
    <a href="/"><img class = "logo" src="/static/images/insta485logo.png" alt="insta485_logo"/></a>
     Insta485 </h1>
  <hr>

  <h2> {{username}} </h2>
  <h3> {% if logname_follows_username %}
            following
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/u/{{username}}/" method="post" enctype="multipart/form-data">
              <input type="submit" name="unfollow" value="unfollow"/>
              <input type="hidden" name="username" value="{{username}}"/>
            </form>
        {% elif not logname == username %}
            not following
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/u/{{username}}/" method="post" enctype="multipart/form-data">
              <input type="submit" name="follow" value="follow"/>
              <input type="hidden" name="username" value="{{username}}>"/>
            </form>
        {% else %}
            <a href="/accounts/edit/" > <b>Edit profile</b> </a>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
              <input type="submit" name="logout" value="Logout"/>
            </form>
        {% endif %}
  </h3> <br>
  <div> {{total_posts}}
        {% if total_posts == 1 %}
          post
        {% else %}
          posts
        {% endif %}
        <a href="/u/{{username}}/followers/" ><b>{{followers}}
       {% if total_posts == 1 %}
          follower
        {% else %}
          followers
        {% endif %}
        </b></a>
        <a href="/u/{{username}}/following/" ><b>{{following}} following</b></a>
        <br><br> {{fullname}}
  </div> <br>
  <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
  {% if logname == username %}
  <p>
    <form action="/u/{{username}}/" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" name="create_post" value="upload new post"/>
    </form>
  </p>
  {% endif %}
  {% for post in posts %}
  <a href="/p/{{post.postid}}/" > <img class="in_grid" src="{{post.img_url}}" alt="owner_upload" /> </a>
  {% endfor %}
</body>
</html>
